h1 {
  text-align: center;
}

.recipeImg {
  width: 100%;
  height: auto;  
  max-height: 170px;
}

.user{
  border: 1px solid black;
  text-align: center;
  overflow-wrap: break-word;
}
.user-action{
  border: 1px solid black;
  word-break: break-all;
}
.recipe{
  border: 1px solid black;
  text-align: center;
}
.recipe-detail{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.table-Recipe{
  text-align: center;  
}

.table-User{
  text-align: center;
  table-layout: fixed;
  word-break: break-all;
}

.profileImg{
  width: 100%;
  height: auto; 
}

.profileAndroid{
  display: none;
}

.userImg{
  width: 80%;
  height: auto; 
}

@media screen and (max-width: 565px) {
  .profileImg{
    display: none;
  }
  .profileAndroid{
    display: block;
    margin-left: 4em;
    width: 60%;
    height: 60%; 
  }
  .table-User{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .recipeImg {
    width: 300px;
  }
  .table-Recipe{
    text-align: center; 
    display: block;
    overflow-x: auto;
    white-space: nowrap; 
  }
}

.rater{
  width: 80px; 
  height: 80px;
  border-radius: 50%;
}
